.timer-input {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#hours,
#minutes,
#seconds {
  width: 80px;
  line-height: 1.75;
  font-size: 1.2rem;
  border: none;
  border-radius: 40px;
  background: hsla(0, 0%, 30%, 0.5);
  color: var(--text-clr);
  padding-inline-start: 1rem;
}
