@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap");

:root {
  --bg-clr: linear-gradient(45deg, hsl(300, 3%, 10%), hsl(300, 10%, 3%));
  --bg-btn: hsl(0, 0%, 15%);
  --gradient-border:
    radial-gradient(
      ellipse at 20% 25%,
      hsla(271, 76%, 53%, 0.8) 0%,
      hsla(271, 76%, 53%, 0) 60%
    ),
    radial-gradient(
      ellipse at 50% 85%,
      hsla(195, 100%, 50%, 0.7) 0%,
      hsla(195, 100%, 50%, 0) 70%
    ),
    radial-gradient(
      ellipse at 80% 30%,
      hsla(123, 100%, 50%, 0.7) 0%,
      hsla(195, 100%, 50%, 0) 60%
    ),
    linear-gradient(135deg, hsl(0, 0%, 0%) 0%, hsl(251, 73%, 7%) 100%);
  --text-clr: hsl(0, 0%, 80%);
  --font-primary: "IBM Plex Sans", sans-serif;
}
