.timer-buttons {
  display: flex;
  gap: 3rem;
}

#start {
  border: 2px solid transparent;

  &:hover {
    border: 2px solid hsl(239, 50%, 47%);
    background: transparent;
    color: hsl(0, 0%, 100%);
  }
}

#pause {
  border: 2px solid hsl(283, 73%, 30%);

  &:hover {
    color: hsl(0, 0%, 100%);
    border: 2px solid hsl(283, 73%, 40%);
  }
}

#reset {
  border: 2px solid transparent;

  &:hover {
    border: 2px solid hsl(337, 64%, 30%);
    background: transparent;
    color: hsl(0, 0%, 100%);
  }
}
