@use "../styles/mixins";

.app {
  height: 95vh;
  width: 90vw;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-rows: repeat(1fr);
  font-family: var(--font-primary);
  color: var(--text-clr);
  background: hsla(0, 0%, 5%, 0.99);
  border-radius: 32px;
  border: 1px solid hsla(0, 0%, 20%, 0.25);
  @include mixins.largeScreen;

  &::after {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background: var(--gradient-border);
    background-blend-mode: screen, hard-light;
    animation: shift 5s infinite alternate ease-in-out;
    animation-play-state: paused;
    z-index: -1;
    @include mixins.largeScreenBorder;
  }

  &__active::after {
    animation-play-state: running;
  }
}

@keyframes shift {
  0% {
    background-position:
      0% 0%,
      0% 0%,
      0% 0%;
    filter: hue-rotate(0deg) brightness(1);
  }
  50% {
    background-position:
      -10% -5%,
      5% 10%,
      0% 15%;
    filter: hue-rotate(31deg) brightness(1.2);
  }
  100% {
    background-position:
      5% 10%,
      -10% -5%,
      15% 0%;
    filter: hue-rotate(60deg) brightness(1);
  }
}
